{% extends "layout.html" %}
{% block title %}
 Recently Answered
{% endblock %}
{% block content %}
<section class="jumbotron mx-5 my-5">
      <div class="container text-center">
        <h1 class="jumbotron-heading thickfont text-center text-success">Answered Questions</h1>
      </div>
</section>
<div class="container">
    <div class="row justify-content-center align-items-center">
      {% for item in answered %}
          <div class="card text-center mx-auto my-3 card-shadow" style="width: 22rem;">

              <div class="card-header text-muted">
                <p>Asked by {{item[0]}}</p>
                <p>Answered by {{item[3]}}</p>
              </div>

              <div class="card-body">
                  <h5 class="card-title">Question: {{item[1]}}</h5>
                  <p class="card-text">Answer: {{item[2]}}</p>
              </div>

              <div class="card-footer text-muted">
                  <p>Answered on {{item[4]}}</p>
                  <p>Asked on {{item[5]}}</p>
              </div>
          </div>
      {% endfor %}
    </div>

</div>
# go through list of answered questions
# go through answers db with each question ID, and pair them in cards and display
{% endblock %}
