{% extends "layout.html" %}
{% block title %}
 {{ collectioname }}
{% endblock %}
{% block content %}
<section class="jumbotron mx-5 my-5">
      <div class="container text-center">
        <h1 class="jumbotron-heading thickfont text-center text-danger">{{ collectioname }} Collection</h1>
      </div>
</section>
<div class="container">
  <div class="row justify-content-center align-items-center">
      {% for item in trips %}
        <div class="card mx-auto my-3 text-center card-shadow" style="width: 22rem;">
          <div class="align-items-center">
            <a href="trips/{{item[1]}}"><img class="img-fluid roundimagecard"src="../static/collections/{{item[1]}}.jpg" alt="Card image cap"></a>
          </div>
          <div class="card-body">
            <a href="trips/{{item[1]}}"><h5 class="card-title blacklink">{{item[0]}}</h5></a>
            <p class="card-text font-weight-bold">⏰ {{item[4]}}</p>
            <a href="trips/{{item[1]}}" class="btn btn-lg btn-danger">{{item[5]}}</a>
          </div>
          <div class="card-footer">
            🗺️ {{item[3]}}
          </div>
        </div>
      {% endfor %}
  </div>
</div>
{% endblock %}
