<!DOCTYPE html>
<html>
  <head>
    <!-- favicon, twemoji's penguin, in base64 -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Custom Purple button CSS -->
    <link rel="stylesheet" href="../static/customAndTwemoji.css">
    <!-- Custom Responsive button CSS -->
    <link rel="stylesheet" href="../static/customMediaCSS.css">
    <!-- Custom Bootstrap Carousel example CSS -->
    <link rel="stylesheet" href="../static/customCarouselBootstrap.css">
    <!-- Custom Jumbotron Margin CSS -->
    <link rel="stylesheet" href="../static/customJumbotronMargin.css">
    <!-- Title -->
    <title>Talk It Out: {% block title %}{% endblock %}</title>
    <meta name="title" content="Talk It Out">
    <meta name="description" content="Anonymous Therapy">
    <meta name="keywords" content="School,Counseling,Therapy">
    <meta name="author" content="nobody">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top shadow" style="background-color: #ffffff;">
      <!-- home button (librehunt) -->
      <a class="navbar-brand" href="/"><img src="../static/collections/logo.png" alt="Talk It Out" height="56px"></a>


      <!-- toggle button for mobile phones -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- main buttons (chooser, feedback, and about -->
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mx-auto abs-center-x text-center">
          <div class="navbar-nav">
            <li class="nav-item my-auto">
              <a class="nav-item nav-link {{isaskactive}}" href="/ask">ASK A QUESTION</a>
            </li>
            <li class="nav-item my-auto">
              <a class="nav-item nav-link {{isansweractive}}" href="/answered">RECENTLY ANSWERED</a>
            </li>
            <!--li class="nav-item my-auto">
              <a class="nav-item nav-link {{isnortheastactive}}" href="/northeast">NORTH EAST</a>
            </li-->
            <li class="nav-item my-auto">
              <a class="nav-item nav-link {{issearchactive}}" href="/search">SEARCH</a>
            </li>
            <!--li class="nav-item my-auto">
              <a class="nav-item nav-link {{iscontikiactive}}" href="/contiki">CONTIKI</a>
            </li-->
          </div>
        </ul>
        {% if session["user_id"] %}
          <ul class="navbar-nav ml-auto">
            <div class="navbar-nav">
              <a class="btn btn-info" href="logout" role="button">Log Out</a>
            </div>
          </ul>
        {% else %}
        <ul class="navbar-nav ml-auto">
          <div class="navbar-nav">
            <li class="nav-item">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  MORE
                </a>
                <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="meettheteam">Meet The Team</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="faq">FAQ</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="aboutus">About Us</a>
                  <div class="dropdown-divider"></div>
                  <a class="btn btn-info" href="therapistlogin" role="button">Log In</a>
                </div>
              </li>
            </li>
          </div>
        </ul>
          <!--button type="submit" name="logout" value="Submit" class="btn btn-info">Log in</button-->
        {% endif %}
      </div>
    </nav>
<main role="main">
{% block content %}{% endblock %}
  <!-- FOOTER -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xl">
        <p class="morewidth"><a class="thickfont whitelink" href="/aboutus">About Us</a></p>
      </div>
      <div class="col-xl">
        <p class="morewidth"><a class="thickfont whitelink" href="/privacy">Privacy Policy</a></p>
      </div>
    </div>
  </div>
  <div class="container mt-1">
    <div class="row justify-content-center align-items-center">
      <div class="mb-2 mx-3">
        <a class="thickfont whitelink" href="#"><img src="../static/icons/facebook.png" width="20" height="20"/></a>
      </div>
      <div class="mb-2 mx-3">
        <a class="thickfont whitelink" href="#"><img src="../static/icons/instagram.png" width="20" height="20"/></a>
      </div>
      <div class="mb-2 mx-3">
        <a class="thickfont whitelink" href="#"><img src="../static/icons/twitter.png" width="20" height="20"/></a>
      </div>
    </div>
  </div>
</div>
  <!-- Footer -->
</main>

    <!-- bootstrap scripts at the end for the page to load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
