{% extends "layout.html" %}
{% block title %}
 Home
{% endblock %}
{% block content %}

  <div id="content" class="container">
    <section class="jumbotron text-center green-jumbotron custom-row my-5 jumbotron-little-padding">
        <div class="container">
            <h1 class="my-5 thickfont text-center text-white">Hi {{moderatorname}}</h1>
        </div>
    </section>

    <div class="dropdown-divider"></div>

    <div class="container">
      <div class="row justify-content-center align-items-center">
          {% for item in questions %}
            <div class="card mx-auto my-3 text-center card-shadow" style="width: 22rem;">
              <div class="card-body">
                <h5 class="card-title blacklink">{{item[2]}}</h5>
                <p class="card-text font-weight-bold">Asked by: {{item[0]}}</p>
                <p class="card-text font-weight-bold">⏰ Date: {{item[1]}}</p>
                <p class="card-text font-weight-bold">IP Address: {{item[3]}}</p>
                <p class="card-text font-weight-bold">Category: {{item[8]}}</p>
              </div>
              <div class="card-footer">
                <form action="/moderation" method="post">
                  <button type="submit" name="delete" value="{{item[4]}}" class="btn btn-danger">Delete</button>
                  <button type="submit" name="approve" value="{{item[4]}}" class="btn btn-success">Approve</button>
                </form>
              </div>
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
