{% extends "layout.html" %}
{% block title %}
 Home
{% endblock %}
{% block content %}

  <div id="content" class="container">
    <section class="jumbotron text-center custom-row my-5 jumbotron-little-padding">
        <div class="container">
            <h1 class="my-5 thickfont text-center text-info">Hi Avi</h1>
        </div>
    </section>
    <!-- TODO CARDS BASED ON JSON -->
    <div class="dropdown-divider"></div>
    <section class="jumbotron text-center custom-row my-5 jumbotron-little-padding">
        <div class="container">
            <h1 class="my-5 thickfont text-center text-info">TESTIMONIALS</h1>
            <form action="/moderation" method="post">
              Userame:<br>
             <input type="text" name="username" value="{{namevalue}}"><br>
             Password:<br>
             <input type="password" name="password">
            <input type="checkbox" name="remember_me">Remember Me<br>
             <input type="submit" value="Submit">

            </form>
        </div>
    </section>

    <div class="container text-center justify-content-center align-items-center">
      <div class="row">
        <div class="col">test 1223</div>
        <div class="col">test 1223</div>
        <div class="w-100"></div>
        <div class="col">
          <div class="customer">
            <div><img src="../static/testimonial1.jpg" class="img-fluid"></div>
            <div class="info">
              <div class="thickfont">test123 </div>
              <small>test 123</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="customer">
            <div><img src="../static/testimonial2.jpg" class="img-fluid"></div>
            <div class="info">
              <div class="thickfont">test123 </div>
              <small>test123</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <section class="jumbotron text-center custom-row my-5 jumbotron-little-padding">
        <div class="container">
            <h1 class="my-5 thickfont text-center text-info">test 123</h1>
        </div>
    </section>
  </div>
{% endblock %}
