{% extends "layout.html" %}
{% block title %}
 Therapist Login
{% endblock %}
{% block content %}
<section class="jumbotron mx-5 my-5">
      <div class="container text-center">
        <h1 class="jumbotron-heading thickfont text-center ">Therapist Login</h1>
      </div>
</section>
<div class="dropdown-divider"></div>
<div class="card mx-auto my-3 text-center card-shadow" style="width: 25rem;">
  <form action="/therapistlogin" method="post">
  <div class="card-body">
    <h5 class="card-title blacklink"></h5>
      Userame:<br>
     <input type="text" name="username" value="{{namevalue}}"><br>
     Password:<br>
     <input type="password" name="password">
    <input type="checkbox" name="remember_me">Remember Me<br>
  </div>
  <div class="card-footer">
    <button type="submit" name="submit" value="Submit" class="btn btn-success">Log in</button>
  </div>
  </form>
</div>
<h1>{{message}}</h1>
{% endblock %}
