{% extends "layout.html" %}
{% block title %}
 {{ pagetitle }}
{% endblock %}
{% block content %}
<div class="container">
  <section class="jumbotron my-5 green-jumbotron">
        <div class="container text-center">
          <h1 class="jumbotron-heading thickfont text-center text-white">The Therapists</h1>
        </div>
  </section>
</div>
<div class="container">
  <div class="row justify-content-center align-items-center">
      {% for item in therapist %}
        <div class="card mx-auto my-3 text-center card-shadow" style="width: 22rem;">
          <div class="align-items-center">
            <!--img class="img-fluid roundimagecard"src="../static/collections/{{item[1]}}.jpg" alt="Card image cap"-->
            <img class="img-fluid roundimagecard"src="../static/collections/{{item[1]}}.png" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title blacklink">{{item[0]}}</h5>
            <!-- in case therapist description p class="card-text font-weight-bold">⏰ {{item[4]}}</p-->
            <a href="mailto:{{item[3]}}" class="btn btn-outline-success">📧 Email</a>
            <a href="{{item[4]}}" class="btn btn-outline-success">🌐 Website</a>
          </div>
          <div class="card-footer">
            Qualifications: {{item[5]}}
          </div>
        </div>
      {% endfor %}
  </div>
</div>

<div class="container">
  <section class="jumbotron my-5 green-jumbotron">
        <div class="container text-center">
          <h1 class="jumbotron-heading thickfont text-center text-white">The Students Behind it</h1>
        </div>
  </section>
</div>
<div class="container">
  <div class="row justify-content-center align-items-center">
        <div class="card mx-auto my-3 text-center card-shadow" style="width: 22rem;">
          <div class="align-items-center">
            <img class="img-fluid roundimagecard"src="../static/collections/aviwad.png" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title blacklink">Avi Wadhwa</h5>
            <p class="card-text font-weight-bold">Pathways World School Gurgaon</p>
            <p class="card-text font-weight-bold">Grade 11</p>
          </div>
          <div class="card-footer">
            he did xyz
          </div>
        </div>
        <div class="card mx-auto my-3 text-center card-shadow" style="width: 22rem;">
          <div class="align-items-center">
            <img class="img-fluid roundimagecard"src="../static/collections/rohan.png" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title blacklink">Rohan Bhatia</h5>
            <p class="card-text font-weight-bold">DPS International Saket</p>
            <p class="card-text font-weight-bold">Grade 12</p>
          </div>
          <div class="card-footer">
            he did xyz
          </div>
        </div>
        <div class="card mx-auto my-3 text-center card-shadow" style="width: 22rem;">
          <div class="align-items-center">
            <img class="img-fluid roundimagecard"src="../static/collections/eshaan.png" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title blacklink">Eshaan Walia</h5>
            <p class="card-text font-weight-bold">DPS International Saket</p>
            <p class="card-text font-weight-bold">Grade 11</p>
          </div>
          <div class="card-footer">
            he did xyz
          </div>
        </div>
        <div class="card mx-auto my-3 text-center card-shadow" style="width: 22rem;">
          <div class="align-items-center">
            <img class="img-fluid roundimagecard"src="../static/collections/aryan.png" alt="Card image cap">
          </div>
          <div class="card-body">
            <h5 class="card-title blacklink">Aryan Hakim</h5>
            <p class="card-text font-weight-bold">Modern School Vasant Vihar</p>
            <p class="card-text font-weight-bold">Grade 11</p>
          </div>
          <div class="card-footer">
            he did xyz
          </div>
        </div>
  </div>
</div>
{% endblock %}
