{% extends "layout.html" %}
{% block title %}
 About Us
{% endblock %}
{% block content %}
<div id="content" class="container">
  <div class="jumbotron text-center custom-row my-5 jumbotron-little-padding">
    <h1 class="my-5 thickfont text-center text-danger">Overview</h1>
    <div class="mx-3 my-3 text-center">
      <p>{{trip[5]}}</p>
      <p>{{trip[6]}}</p>
      <p>{{trip}}</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center align-items-center">
      <div class="card mx-auto text-center card-shadow" style="width: 22rem;">
        <div class="align-items-center">
          <a href="trips/{{trip[1]}}"><img class="img-fluid roundimagecard"src="../static/collections/{{trip[1]}}.jpg" alt="Card image cap"></a>
        </div>
        <div class="card-body">
          <a href="trips/{{trip[1]}}"><h5 class="card-title blacklink">{{trip[0]}}</h5></a>
          <p class="card-text font-weight-bold">⏰ {{trip[4]}}</p>
          <a href="trips/{{trip[1]}}" class="btn btn-lg btn-danger">{{trip[5]}}</a>
        </div>
        <div class="card-footer">
          🗺️ {{trip[3]}}
        </div>
      </div>
  </div>
</div>
<div id="content" class="container">
  <div class="jumbotron text-center custom-row my-5 jumbotron-little-padding">
    <h1 class="my-5 thickfont text-center text-danger">HOW IT ALL BEGAN</h1>
    <div class="mx-3 my-3 text-center">
      <p>Our focus at Deyor Camps, a technology friendly platform, is to provide great travel experience by making bookings of experiential and adventure trips as simple as booking a hotel room or a flight.</p>
      <p>In more recent times, experiential travel has picked up in India as gradually more and more travellers are giving hotels and resorts a miss to explore local experiences.</p>
      <p>We are best in the country for experiences like bike trips to Ladakh, Spiti Valley, Bhutan, treks across 30+ mountain ranges and backpacking trips across Andamans and Bali. </p>
      <p>This website is made by <b>{{some_place}}</b>.</p>
      <p>{{trip}}</p>
    </div>
  </div>
</div>
{% endblock %}
